{% load static %}
<html>
<body background="{% static '8.JPG' %}">
<style>

</style>

<h1 style="font-family:verdana; color:blue; text-align:center;">About Us</h1>

<p style="color:white;"><center><font size=5 >Oracle Bibliotheca is central library management organisation in the world.
The prime focus of the group is to build a Knowledge Society based on Education & Technology.
We will be happy to serve you=)
Our expert librarians are here to answer your questions and help connect you to the resources you need to get your work done.</font></center></p>

</body>
</html>